<div style="font-family: trebuchet ms;">
  Bonjour<%= ' '+@user.name%>,<br><br>
  Votre email est : <%=@user.email%> <br>
  Votre mot de passe est : <%=@password%> <br><br>
  Pour se connecter merci de suivre le lien suivant : <%= link_to 'LOCA-managments', 'http://localhost:5200/user/login' %>
</div>